@model IWheel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h1>Using the wheel here</h1>
    <p>@Model.Inflate()</p>
    <p>@Model.Deflate()</p>
    <p>@Model.Mount()</p>
    <p>@Model.Dismount()</p>
</div>